body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#selected-date {
    margin-bottom: 20px;
    font-weight: bold;
}

#selected-contributions {
    margin-bottom: 20px;
    font-weight: bold;
}

#chart {
    display: grid;
    grid-template-columns: repeat(52, 15px);
    gap: 2px;
}

.square {
    width: 15px;
    height: 15px;
}

#month-chart {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7, 15px);
    gap: 2px;
}
